.center {
    margin: auto;
    width: 75%;
    padding: 10px;
}

#outer-div {
    border: 2px solid red;
    width: 90%;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}



#results-table {
    border: 5px purple;
}



/*#results-table th {*/
/*!*background-color: blue;*!*/
/*border: 2px solid black;*/
/*}*/



#sb-banner {
    background-color: yellow;
    font-size: x-large;
    color: black;
    text-align: center;
    width: 50%;
}